<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.tyf.entity.User"/>

    <bean id="userDao" class="com.tyf.dao.impl.UserDaoImpl"/>
    <bean id="userDaoMysql" class="com.tyf.dao.impl.UserDaoMysqlImpl"/>

    <bean id="userController" class="com.tyf.com.tyf.controller.UserController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean id="userService" class="com.tyf.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
</beans>